	
/*桌面导航按钮*/
#navBar{
	display:inline-block;
	height:40px;
	line-height:40px;
	position:absolute;
	left:50%;
	z-index:90; /*置为46则将不能被拖动*/
	top:70px;
	}
#navBar s{
	display:inline-block;
	height:40px;
	background-image:url(../images/navbarbg.png);
	background-repeat:no-repeat;
	}
#navBar s.l{
	background-position:left bottom;
	width:42px;
	position:absolute;
	top:0;
	left:-42px;
	}
#navBar s.r{
	width:42px;
	background-position:right bottom;
	position:absolute;
	top:0;
	right:-42px;
	}

#navBar span{
	display:inline-block;
	height:33px;
	background:url(../images/navbarMidbg.png) repeat-x left bottom;
	margin-top:7px;
	}
 
#navBar span a{
	display:inline-block;
	width:24px;
	height:24px;
	line-height:20px;
	text-decoration:none;
	text-align:center;
 	outline:none;
	margin:3px 2px 0;
	font-family: "宋体","微软雅黑","黑体";
	font-size:14px;
	color: #ddd;
	font-weight:900;
	}
	
#navBar a.currTab{
	background: url(../images/navbarBtn.png) no-repeat -223px center;
	color:#666
	}	

.indicator_header {
    background: url(../images/navbarBtn.png) no-repeat right bottom;
    height: 32px;
    margin: -3px 0 0 6px;
    position: relative;
    width: 32px;
	cursor:pointer;
}

.indicator_manage {
	display:block;
     background: url(../images/navbarBtn.png) no-repeat left -4px;
    margin: 8px 13px;
	height: 24px;
    width: 24px;
}

.indicator_header_img {
    display: inline;
    float: left;
    height: 24px;
    margin: 4px 0 0 4px;
    width: 24px;
}