@charset "utf-8";
/*version: mydesktop 3.0
 *author: muzilei
 *email: 530624206@qq.com
 *blog: http://www.muzilei.com/
 *date:2013-1-24
 */
.ui_maskLayer {
	position: absolute;
	top: 0px;
	left: 0;
	z-index: 900;
	width:100%;
	height:100%;
	background-color: #000;
	filter:alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
	z-index: 300001; 
 }
.login_box{
	background: none repeat scroll 0 0 #F6F6F6;
    border: 1px solid #CCCCCC;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 8px #000000;
    position: absolute;
 	display: block; 
	width: 380px; 
	z-index: 300002; 
	left:50%; 
	top:50%; 
	height: 230px;
	margin:-160px 0 0 -190px;
	}
.ui_boxyClose{
	background: url("../images/boxy_btn.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 28px;
    position: absolute;
    right: -10px;
    top: -10px;
    width: 28px;
    z-index: 1;
	}	
.login_logo{
	background: url("../images/login_window_logo.png") no-repeat scroll 0 0 transparent;
    cursor: move;
    height: 44px;
    margin-left: 90px;
    width: 200px;
	margin-top:10px;
	}	
