@charset "utf-8";
html,body{height:100%}
.fl {
	float:left;
}
.tableCond {
width:100%;
margin:0px auto;
border-collapse:collapse;
font-family:"";
font-size:12px;
margin-bottom:10px;
margin-top:0px;
clear:both;
}
.tableCond td{
border:1px solid #8BB3E4;
padding:1px 3px;
height:22px;
}

#rightTd {
  font-size:12px;
}

.condFieldDiv{
	clear:both;
	padding:3px;
}
.condFieldLSpan{
	background-color:#ECF3F9;
	width:100px;
	display:block;
	float:left;
	padding:3px;
}
.condFieldRSpan{
	padding-left:3px;
	float:left;
	display:block;
}

.tabStyle_1_sub {
	width:100%;
	margin:0px;
	padding:0px;
}

ul li {
	cursor:pointer;
}

.item_title {
	height:18px;
	padding-left:15px;
	padding-top:6px;
	font-weight:bold;
	font-size:12px;	
	background-image:url(images/designer/item_bg.jpg);
}

.item_content {
	padding:5px;
}

#rightPanel{
	background-color:#ECF5FC;
}

.tableName {
	display:block;
	border:1px solid #8BB3E4;
	background-image:url(images/designer/table_name_bg.jpg);
	height:21px;
	margin-bottom:3px;
	padding-top:5px;
	padding-left:35px;	
}

.tableNameHover {
	display:block;
	border:1px solid #8BB3E4;
	background-image:url(images/designer/table_name_hover_bg.jpg);	
	height:21px;
	margin-bottom:3px;
	padding-top:5px;
	padding-left:35px;	
}

.ui-state-default { border: 1px solid #d3d3d3/*{borderColorDefault}*/; background: #e6e6e6/*{bgColorDefault}*/ url(images/designer/ui-bg_glass_75_e6e6e6_1x400.png)/*{bgImgUrlDefault}*/ 50%/*{bgDefaultXPos}*/ 50%/*{bgDefaultYPos}*/ repeat-x/*{bgDefaultRepeat}*/; font-weight: normal/*{fwDefault}*/; color: #555555/*{fcDefault}*/; }

#sortDiv {
	margin-top:10px;
	margin-left:10px;
}

#sortable1, #sortable2 { list-style-type: none; margin: 0; padding: 0; float: left; margin-right: 10px; background: #eee; padding: 15px; width: 173px;}
#sortable1 {
	margin-left:10px;
	background-color:#ECF5FC;
	border:1px dashed #88B4D9;
}
#sortable2 {
	margin-left:10px;
	background-color:#ECF5FC;
	border:1px dashed #88B4D9;
}
#sortable1 li, #sortable2 li { margin: 5px; padding: 5px; font-size: 1.2em; width: 150px; }

#sortableArrowUI {
list-style-type: none;
float:left;
width:68px;
}
#sortableArrow {
	margin-top:100px;
	width:68px;
	height:52px;
	background-image:url(images/designer/bigarrow.jpg);
	background-repeat:no-repeat;
}
