DIV {
	FONT-FAMILY: ms shell dlg; FONT-SIZE: 12px
}
FONT {
	FONT-FAMILY: ms shell dlg; FONT-SIZE: 12px
}
.off {
	DISPLAY: inline
}
.on {
	DISPLAY: none
}
.menus {
	BACKGROUND-COLOR: buttonface; BORDER-BOTTOM: black 1px solid; BORDER-LEFT: white 1px solid; BORDER-RIGHT: black 1px solid; BORDER-TOP: white 1px solid; CURSOR: hand; FONT-SIZE: 9pt; MARGIN: 0px; OVERFLOW: hidden; PADDING-BOTTOM: 1px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; PADDING-TOP: 1px; TEXT-ALIGN: left; WIDTH: 90px
}
#menutool {
	LEFT: 6px; POSITION: absolute; WIDTH: 90px; Z-INDEX: 10
}
A {
	COLOR: black; FONT-SIZE: 9pt; TEXT-DECORATION: none; TEXT-TRANSFORM: none
}
A:hover {
	COLOR: red; TEXT-DECORATION: underline
}
A:visited {
	
}
.tab_border {
	BORDER-BOTTOM: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid
}

BODY {
	FONT-FAMILY: "宋体", "Arial"; FONT-SIZE: 9pt
}
TD {
	FONT-FAMILY: "宋体", "Arial"; FONT-SIZE: 9pt
}
table {
	FONT-FAMILY: "宋体", "Arial"; FONT-SIZE: 9pt
}
.heading {
	FONT-FAMILY: "宋体", "Arial"; FONT-SIZE: 14px
}
.show {
	FONT-FAMILY: "宋体", "Arial"; FONT-SIZE: 14px; LINE-HEIGHT: 20px
}
.form {
	FONT-FAMILY: "宋体", "Arial"; FONT-SIZE: 9pt; HEIGHT: 12pt
}
INPUT.buttonface {
	BORDER-RIGHT: #636563 1px solid; BORDER-TOP: #636563 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 9pt; BACKGROUND: #cccccc; BORDER-LEFT: #636563 1px solid; COLOR: #000000; LINE-HEIGHT: normal; BORDER-BOTTOM: #636563 1px solid; FONT-STYLE: normal; HEIGHT: 18px; FONT-VARIANT: normal
}
INPUT.smallInput {
	BORDER-RIGHT: #636563 1px solid; BORDER-TOP: #636563 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 9pt; BORDER-LEFT: #636563 1px solid; LINE-HEIGHT: normal; BORDER-BOTTOM: #636563 1px solid; FONT-STYLE: normal; HEIGHT: 18px; FONT-VARIANT: normal
}
input{height:18px;background-color: #ffffff;filter:chroma(color=#ffffff);}
TEXTAREA{filter:chroma(color=#ffffff);}
pa{padding:5pt}
.singleboarder
{
    BORDER-RIGHT: #4a3163 1px solid;
    BORDER-TOP: #4a3163 1px solid;
    FONT-SIZE: 9pt;
    BORDER-LEFT: #4a3163 1px solid;
    BORDER-BOTTOM: #4a3163 1px solid
}