<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div id="tabs1" th:fragment="navRole(code, desc, item)">
    <ul>
        <li id="menu1" th:attr="class=${item} eq 1 ? 'current':''"><a th:href="@{'/admin/editRole.do?roleCode=' + ${code}}" th:inline="text"><span>[[${desc}]]</span></a></li>
        <li id="menu2" th:if="${role.code ne 'member'}" th:attr="class=${item} eq 2 ? 'current':''"><a th:href="@{'/admin/listUserOfRole.do?roleCode=' + ${code}}"><span>用户</span></a></li>
        <li id="menu7" th:attr="class=${item} eq 7 ? 'current':''"><a th:href="@{'/admin/roleDepartmentListPage.do?roleCode=' + ${code}}"><span>组织</span></a></li>
        <li id="menu6" th:if="${isPostUsed}" th:attr="class=${item} eq 6 ? 'current':''"><a th:href="@{'/admin/rolePostListPage.do?roleCode=' + ${code}}"><span>职位</span></a></li>
        <li id="menu3" th:attr="class=${item} eq 3 ? 'current':''"><a th:href="@{'/admin/rolePriv.do?roleCode=' + ${code}}"><span>权限</span></a></li>
        <li id="menu4" th:attr="class=${item} eq 4 ? 'current':''"><a th:href="@{'/admin/roleAdminDept.do?roleCode=' + ${code}}"><span>分管部门</span></a></li>
        <li id="menu5" th:attr="class=${item} eq 5 ? 'current':''"><a th:href="@{'/admin/roleMenu.do?roleCode=' + ${code}}"><span>菜单</span></a></li>
    </ul>
</div>
</body>
</html>