<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div id="tabs1" th:fragment="navConfig(item)">
    <ul>
        <li id="menu1" th:attr="class=${item} eq 1 ? 'current':''"><a th:href="@{/admin/{page}(page='config.do')}"><span>配置管理</span></a></li>
        <li id="menu2" th:attr="class=${item} eq 2 ? 'current':''"><a th:href="@{/admin/{page}(page='configEmail.do')}"><span>邮箱配置</span></a></li>
        <li id="menu3" th:attr="class=${item} eq 3 ? 'current':''"><a th:href="@{/admin/{page}(page='configFlowButton.do')}"><span>流程按钮配置</span></a></li>
        <li id="menu4" th:attr="class=${item} eq 4 ? 'current':''"><a th:href="@{/admin/{page}(page='userLevel.do')}"><span>用户等级</span></a></li>
        <li id="menu6" th:attr="class=${item} eq 5 ? 'current':''"><a th:href="@{/admin/{page}(page='configSecurity.do')}"><span>安全配置</span></a></li>
    </ul>
</div>
</body>
</html>