/* CSS Document */
body{SCROLLBAR-FACE-COLOR: #f6f6f6; FONT-SIZE: 9pt; SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; SCROLLBAR-SHADOW-COLOR: #cccccc; SCROLLBAR-3DLIGHT-COLOR: #cccccc; SCROLLBAR-ARROW-COLOR: #330000; SCROLLBAR-TRACK-COLOR: #f6f6f6; SCROLLBAR-DARKSHADOW-COLOR: #ffffff;}
h1{text-align:center; color:#0954a6; font-family:"宋体"; font-size:22px;}
h2{text-align:right; font-size:18px}
h3{color:#0954a6; font-family:"宋体";}
h4{color:#5292c4; font-family:"宋体";}
p{text-indent:30px; font-size:14px; font-family:"宋体"; line-height:1.5; margin:0px; margin-top:8px;}
.color_green{color:#008000; font-family:"宋体";}
.color_red{color:#FF0000; font-family:"宋体";}
a:link {color:#0954a6;text-decoration:none;border-bottom:1px #0954a6 dotted;}
a:visited{color:#0954a6;text-decoration:none;}
a:active{color:#ff9900;text-decoration:none;}
a:hover{color:#ff6600;text-decoration:underline;}
a.left:link {color:#666666;text-decoration:none; font-family:"宋体"; font-size:12px;border-bottom:0px #FFFFFF dotted;}
a.left:visited{color:#666666;text-decoration:none; font-family:"宋体"; font-size:12px;}
a.left:hover{color:#666666;text-decoration:underline; font-family:"宋体"; font-size:12px;}