.highlight{
/*
event:expression(
onmouseover = function(){this.style.backgroundColor='#f1f8fb'}, 
onmouseout = function(){this.style.backgroundColor='#ffffff' } 
)
*/
}

.opinion {
}

.opinionTextarea {
	width:98%;
}

.opinionCnt {
	padding:5px;	
}

.opinionUT {
	text-align:right;
	margin-top:10px;
	margin-right:30px;
	margin-bottom:10px;
}

.opinionCurUT {
	color:#bbbbbb;
	text-align:right;
	margin-top:5px;
	margin-right:30px;
	margin-bottom:10px;
}

.opinionCurUT img {
	display: inline !important;
}

.opinionUser img {
	width:100px;
	/*
	height:30px;
	*/
	display: inline !important;
	vertical-align:middle;
}

.opinionCurUT .opinionUser img {
	width:100px;
	/*
	height:30px;
	*/
	vertical-align:middle;
	display: inline !important;
	opacity:0.5;
	filter:alpha(opacity=50); 
}

.opinionTime {
	margin-left:10px;
}

.base64-imgview img{
	max-height: 300px;
	max-width: 600px;
}