@charset "utf-8";

/* CSS Document */
body {
	height: 100%;
	background: white;
}

* {
	margin: 0px;
	padding: 0px
}

a {
	cursor: pointer;
	text-decoration: none;
}

ul li {
	list-style-type: none;
}

.Top {
	width: 100%;
	height: 60px;
	background: #2d69b0;
	margin: 0 auto;
	min-width: 1000px;
	width: expression_r(document.body.offsetWidth <   1000 ?   "1000px" :   "auto")
		;
}

.logo {
	background: url(images/clouddisk/logo.gif);
	height: 34px;
	width: 148px;
	margin-left: 22px;
	margin-top: 13px;
	float: left
}

.Top .infoDetail {
	font-family: "微软雅黑";
	float: right;
	height: 60px;
	margin-right: 3%;
	line-height: 60px;
	vertical-align: middle;
	text-align: center;
	color: #fff;
	font-size: 16px;
}
.Top .infoDetail #sideBar{
	margin-left: 10px;

}

.Top .infoDetail .name {
	padding-right: 10px;
}

/*clouddisk*/
.clouddisk {
	height: 40px;
	width: 340px;
	float: left;
	margin-left: 65px;
	margin-top: 10px
}

.wenzi {
	float: left;
	font-size: 20px;
	font-weight: 600;
	height: 2px;
	width: 89px;
	color: #fff;
	margin-top: 12px;
	font-family: '宋体';
}

.contacts {
	float: left;
	height: 35px;
	width: 35px;
	margin-top: 0px;
	margin-left: 35px;
	position: relative
}

.mail {
	float: left;
	height: 35px;
	width: 35px;
	margin-top: 0px;
	margin-left: 35px;
	position: relative
}

.notice {
	float: left;
	height: 35px;
	width: 35px;
	margin-top: 0px;
	margin-left: 35px;
	position: relative
}

#spanDate {
	margin-left: 20px;
}

.userTitle {
	width: 430px;
	float: right;
	margin-top: 10px;
	font-family: "微软雅黑";
	color: #fff
}

/*info*/
.info {
	width: 190px;
	height: 21px;
	margin-top: 19px;
	margin-right: 32px;
	float: right
}

.info_name {
	float: right;
	font-family: '宋体';
	font-size: 16px;
	color: #fff;
	width: 150px;
	word-break: break-word;
	overflow: hidden;
	height: 18px
}
.info_quit {
	float: right;
	font-family: '宋体';
	font-size: 12px;
	color: #fff;
	margin-left: 5px;
	margin-top: 3px
}

/*Center*/
.Center {
	min-height: 506px;
	overflow: hidden;
	margin: auto;
	width: expression_r(document.body.offsetWidth <   1000 ?   "1000px" :   "auto")
		;
}

/*Left*/
.Left {
	width: 11%;
	border-top: 1px solid #cbd8e2;
	border-right: 1px solid #cbd8e2;
	background: #eff3f6;
	float: left;
	min-width: 50px
}

.Left a {
	height:15%;
	display:inline-block;
	width: 100%;
}
.cloudDisk {
	width: 100%;
	height: 102px;
	border-bottom: 1px solid #e2e9ef;
	padding-top: 8%;
	color: #888888;
}

.cloudDisk div p {
	margin-top: 8px;
	font-weight: 600;
}

.shared {
	width: 100%;
	height: 102px;
	border-bottom: 1px solid #e2e9ef;
	padding-top: 8%;
	color: #888888
}
.source{
	width: 100%;
	height: 102px;
	border-bottom: 1px solid #e2e9ef;
	padding-top: 8%;
	color: #888888
}

.shared div p,.source div p {
	margin-top: 8px;
	font-weight: 600;
}

.cooperate {
	width: 100%;
	height: 102px;
	border-bottom: 1px solid #e2e9ef;
	padding-top: 8%;
	color: #888888
}

.network {
	width: 100%;
	height: 102px;
	border-bottom: 1px solid #e2e9ef;
	padding-top: 8%;
	color: #888888
}

.cooperate div p {
	margin-top: 8px;
	font-weight: 600;
}

.network div p {
	margin-top: 8px;
	font-weight: 600;
}

.recycle {
	width: 100%;
	height: 102px;
	border-bottom: 1px solid #e2e9ef;
	padding-top: 8%;
	color: #888888
}

.recycle div p {
	margin-top: 8px;
	font-weight: 600;
}

.kb {
	width: 100%;
	height: 30px;
	background: #eff3f6;
	repeat-y;
}

/*Right*/
.Right {
	box-sizing: border-box;
	position: relative;
	z-index: 50;
	background: #fff;
	min-width: 500px;
	width: 99.5%;
	height:90%;
}

/*rHead1*/
.rHead1 {
	height: 60px;
	width: 100%;
	background: #ffffff;
	border-bottom: 1px solid #e4e4e4;
}

.uploadFile_c {
	height: 30px;
	width: 101px;
	float: left;
	margin-left: 20px;
	margin-top: 10px;
	background: url(images/clouddisk/uploadFile_1.gif)
}

.deleteFile_c {
	height: 30px;
	width: 101px;
	float: left;
	margin-left: 20px;
	margin-top: 10px;
	background: url(images/clouddisk/deleteFile_1.gif)
}

.restoreFile_c {
	height: 30px;
	width: 101px;
	float: left;
	margin-left: 20px;
	margin-top: 10px;
	background: url(images/clouddisk/restoreBatch_1.gif)
}

.upload_sel {
	height: 55px;
	width: 99px;
	border-left: 1px solid #2d83da;
	border-right: 1px solid #2d83da;
	border-bottom: 1px solid #2d83da;
	position: absolute;
	left: 20px;
	top: 39px;
	background: #fff;
	z-index: 1222;
}

.upload_sel ul {
	width: 100px;
	height: 56px;
}

.upload_sel ul li a {
	text-align: center;
	line-height: 28px;
	font-size: 12px;
	color: #000;
	display: block;
	width: 99px;
	height: 27px;
}

.upload_sel ul li a : hover {
	color: #fff
}

.newFolder,.newFolderCooperate,.privManage {
	height: 30px;
	width: 112px;
	cursor: pointer;
	float: left;
	margin-left: 20px;
	margin-top: 10px;
	background: url(images/clouddisk/newFolder_1.gif)
}
.privManage {
	width: 101px;
	background: url(images/clouddisk/priv1.gif)
}

.manageFolder{
	height: 30px;
	width: 83px;
	cursor: pointer;
	float: left;
	margin-left: 20px;
	margin-top: 10px;
	background: url(images/clouddisk/manage1.gif)
}

.view {
	float: right;
	margin-right: 34px;
	margin-top: 12px;
	width: 61px;
	height: 24px;
	border: 1px solid #bbbbbb
}

.sort {
	float: right;
	margin-right: 20px;
	margin-top: 18px;
	width: 180px;
	height: 18px;
	font-size: 12px;
	color: #aaaaaa;
	display: none;
}

#sort_sel {
	cursor: pointer;
}

#sort_sel_pull {
	width: 60px;
	height: 62px;
	margin-left: 30px;
	background: #fff;
	border: 1px solid #bababa;
	padding-bottom: 4px;
	top: 35px;
	right: 110px;
	text-align: center;
	position: absolute;
	z-index: 1;
	display: none
}

#sort_sel_pull p {
	cursor: pointer
}

.barcode{
	width:500px;
	height:450px;
	float:left;
	position:relative;
	top:200px;
	left:200px;
	z-index: 9999;
	display:none;
	border:1px solid #666;
	background:#fff;
}
.barcode_title{
	text-align:center;
	width:500px;
	float:left;
	height:20px;
	font-size:18px;
	height:25px;
	background:#ddd;
}
.barcode_img{
	width:190px;
	height:190px;
	margin:0px auto;
}
/*rHead2*/
.rHead2 {
	width: 100%;
	min-width:1000px;
	height: 36px;
	border: 1px solid #e4e4e4;
	background: #ffffff;
}

.fileTitleDl {;
	background: #ffffff;
	width: 100%;
	min-width:1000px;
	top: 99px;
	font-size: 14px;
	margin-right: auto;
	border-bottom: 1px solid #e4e4e4;
	height: 45px;
	display: block;
	font-size: 12px;
	color: #888888;
}

.fileTitleDlCooperate {
	position: fixed;
	top: 38px;
	width: 100%;
	background: #ffffff
}

.all_file {
	cursor: pointer;
	font-size: 12px;
	font-family: '宋体';
	float: left;
	color: #888888;
	margin-left: 12px;
	margin-top: 12px;
	float: left
}
.privBack {
	cursor: pointer;
	font-size: 12px;
	font-family: '宋体';
	color: #888888;
	margin-left:10%;
	margin-top: 12px;
}
.all_file  a:link,.privBack a:link{
	color: #888;
	text-decoration: none;
}

.all_file a:visited,.privBack a:visited {
	color: #888;
	text-decoration: none;
}

.all_file  a:hover,.privBack a:hover{
	color: #888;
	text-decoration: underline;
}

.all_file  a:active,.privBack a:active {
	color: #888;
	text-decoration: none;
}

.search {
	float: right;
	margin-right: 34px;
	margin-top: 5px;
	background: url(images/clouddisk/search.gif);
	width: 184px;
	height: 21px;
	padding-top: 5px
}

.search input {
	display: block;
	width: 144px;
	height: 18px;
	border: 0px;
	margin-left: 4px;
	color: #888888
}

.sortShow {
	float: right;
	margin-right: 15px;
	width: 200px;
	height: 26px;
	margin-top: 5px;
	border-right: 1px solid #dfdede;
	color: #888888;
	font-size: 12px;
	font-family: "宋体";
}

.sortShow span {
	display: block;
	float: left;
	margin-top: 5px
}

.sortShow ul li {
	float: left;
	margin: 0 10px;
	margin-top: 5px;
}

/*rCenter*/
.rCenter table tr td {
	font-size: 12px;
	color: #888888
}

.rCenter dl dd {
	margin-right: auto;
	border-bottom: 1px solid #e4e4e4;
	height: 40px;
	display: block;
	font-size: 12px;
	color: #888888
}

.filename {
	float: left;
	width: 56%;
	height: 27px;
	border-right: 1px solid #e4e4e4;
	position: relative;
	padding-top: 12px;
}

.size {
	float: left;
	width: 10%;
	height: 27px;
	border-right: 1px solid #e4e4e4;
	padding-top: 12px;
}

.type {
	float: left;
	width: 10%;
	height: 27px;
	border-right: 1px solid #e4e4e4;
	padding-top: 12px;
}

.time {
	float: left;
	width: 16%;
	height: 27px;
	padding-top: 12px;
}

.more-wrapper {
	position: absolute
}

.operate {
	display: none;
	position: absolute;
	width: 183px;
	height: 30px;
	left: 690px;
	top: 5px;
	right: -120px;
	border: 1px solid #cbcbcb;
	z-index: 1000;
	overflow: hidden;
	background: #fff;
	z-index: 1200px;
}

.operate  a {
	padding-top: 7px;
	padding-bottom: 4px;
	float: left;
	border-right: 1px solid #888888;
	display: block;
	cursor: pointer;
	height: 30px;
	width: 60px;
	text-align: center;
	font-size: 12px;
	font-family: "宋体";
	color: #888888;
}

.operate  a:hover {
	float: left;
	background: #888888;
	color: #699fef;
}

.size_a {
	float: left;
	width: 57%;
	height: 40px;
	position: relative;
}

.size_folder {
	height: 20px;
	border-bottom: 1px solid #888888;
	position: relative;
}

.file_table tr td {
	height: 40px;
	border-bottom: 1px solid #e4e4e4;
}

.filename_c {
	width: 70%;
	height: 30px;
	margin-top: 5px;
}

.filename_t {
	width: 90px;
	height: 100px;
	margin-top: 10px;
	cursor: pointer;
}

.skin0 {
	padding-top: 2px;
	cursor: default;
	font: menutext;
	position: fixed;
	text-align: left;
	font-family: "宋体";
	font-size: 9pt;
	width: 80px; /*宽度，可以根据实际的菜单项目名称的长度进行适当地调整*/
	background-color: menu; /*菜单的背景颜色方案，这里选择了系统默认的菜单颜色*/
	border: 1 solid buttonface;
	visibility: hidden; /*初始时，设置为不可见*/
	border: 2 outset buttonhighlight;
	z-index: 1800;
}

.skin1 {
	padding-top: 2px;
	cursor: default;
	font: menutext;
	position: absolute;
	text-align: left;
	font-family: "宋体";
	font-size: 9pt;
	width: 80px; /*宽度，可以根据实际的菜单项目名称的长度进行适当地调整*/
	background-color: menu; /*菜单的背景颜色方案，这里选择了系统默认的菜单颜色*/
	border: 1 solid buttonface;
	visibility: hidden; /*初始时，设置为不可见*/
	border: 2 outset buttonhighlight;
}

.size_c {
	float: left;
	width: 10%;
	height: 27px;
	margin-top: 15px;
	left: 57%;
	position: absolute;
}

.type_c {
	float: left;
	width: 10%;
	height: 27px;
	margin-top: 15px;
	left: 68%;
	position: absolute;
}

.type_c a {
	color: #888888;
}

.type_c a:hover {
	color: #25abde;
}

.time_c {
	float: left;
	width: 16%;
	height: 27px;
	margin-top: 15px;
	right: 60px;
	position: absolute;
}

.more_action {
	top: 15px;
	left: 550px;
	display: none;
	width: 200px;
	float: left;
	position: absolute
}

.more_action ul li {
	float: left;
	margin: 0 3px
}

._dd_style {
	position: relative;
}

.treeBackground {
	display: none;
	position: absolute;
	top: -2%;
	left: 0%;
	width: 100%;
	margin: auto;
	height: 100%;
	background-color: #EEEEEE;
	z-index: 1800;
	-moz-opacity: 0.8;
	opacity: .80;
	filter: alpha(opacity = 80);
}

.loading{
	display: none;
	position: fixed;
	z-index:1801;
	top: 45%;
	left: 45%;
	width: 100%;
	margin: auto;
	height: 100%;
	}
.rCenter dl dd div .dd_img {
	padding-top: 12px;
	padding-bottom: 2px;
}

.rCenter dl dd div span {
	margin-left: 10px；padding : 5px;
}

.rCenter dl dd {
	padding-right: 3px;
	pading-left: 3px;
}

.menuitems {
	padding-bottom: 2px;
	padding-top: 2px;
	padding-left: 7px;
	display: block;
}

/*clouddisk_tiled页面*/
.tCenter table tr td {
	font-size: 12px;
	color: #888888
}

.tCenter dl {
	float: left;
}

.tCenter dl dd {
	border-bottom: 3px solid #e4e4e4;
	height: 100px;
	width: 100px;
	float: left;
	display: block;
	font-size: 12px;
	color: #888888
}

.filename_t {
	width: 100%;
	height: 90px;
	position: relative;
}

.ul li {
	width: 500px;
}

.ul li a :visited {
	color: #888888;
	TEXT－DECORATION: none
}

.size_folder_tiled {
	float: left;
	width: 100px;
	height: 90px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 10px;
	margin-bottom: 15px;
	border: 2px solid white
}

.size_t {
	list-style-type: none;
	float: left;
	width: 100px;
	height: 100px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 10px;
	margin-bottom: 15px;
	position: relative;
	border: 2px solid white;
}

/*共享页面css*/
.stat_share {
	height: 25px;
	width: 110px;
	padding-top: 5px;
	float: left;
	margin-left: 20px;
	margin-top: 10px;
	cursor: pointer;
	font-weight: 600;
	font-size: 16px;
	color: #888888;
	text-align: center
}

.receive_share {
	height: 25px;
	padding-top: 5px;
	width: 110px;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	cursor: pointer;
	font-weight: 600;
	font-size: 16px;
	color: #888888;
	text-align: center
}

/**移动文件Dialog样式*/
.SD_bgs {
	background: #333333;
	filter: alpha(opacity = 30);
	-moz-opacity: 0.30;
	opacity: 0.30;
	width: 9px;
	height: 9px;
	overflow: hidden;
}

#SD_windows {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1000;
	overflow: hidden;
	display: none
}

#SD_containers {
	position: relative;
	z-index: 1005;
	background: #FFFFFF;
	border: 1px solid #888888;
	float: left;
}

#SD_containers h3 {
	height: 30px;
	line-height: 30px;
	background: #F6F6F6;
	border-bottom: 1px solid #CDCDCD;
	text-indent: 10px;
	color: #336699;
	font-size: 14px;
	font-weight: bold;
	cursor: move;
}

#SD_bodys {
	padding: 15px;
	white-space: normal;
}

#SD_bodys,#SD_bodys div,#SD_bodys p,#SD_bodys td {
	color: #000000;
}

#SD_buttons {
	padding: 10px 0px;
	background: #F6F6F6;
	border-top: 1px solid #CDCDCD;
	text-align: right;
}

#SD_buttons a {
	margin-right: 10px;
	padding: 6px 10px 4px;
	background: #005EAC;
	border-width: 1px;
	border-style: solid;
	border-color: #D8DFEA #0E1F5B #0E1F5B #D8DFEA;
	white-space: nowrap;
	display: inline-block;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
}

#SD_buttons a:hover {
	text-decoration: none;
}

#SD_closes {
	position: absolute;
	top: 6px;
	right: 10px;
	z-index: 1005;
	width: 17px;
	height: 17px;
	border: none;
	background: url(sd_close.png) no-repeat 0px 0px;;
}

#SD_closes:hover {
	background-position: 0px -17px;
}

/**
罗珠敏 界面列表样式修改
**/
.fixedDiv {
	position: fixed;
	width: 100%;
	background: #ffffff;
	z-index: 1111;
	margin-top: -21px;
}
.fixedDivTiled {
	position: fixed;
	width: 100%;
	background: #ffffff;
	z-index: 1111;
	margin-top: -26px;
}

.fixedDivShare {
	position: fixed;
	width: 100%;
	background: #ffffff;
	z-index: 1111;
	margin-top: -25px;
}

.fixedDivRecycler {
	position: fixed;
	width: 100%;
	background: #ffffff;
	z-index: 1111;
	margin-top: -23px;
}

.fixedDivCooperate {
	position: fixed;
	width: 100%;
	background: #ffffff;
	z-index: 1111;
	margin-top: -20px;
}

.fixedDivPublic {
	position: fixed;
	width: 100%;
	background: #ffffff;
	z-index: 1111;
	margin-top: 0px;
}
.fixedDivPublicTiled{
	position: fixed;
	width: 100%;
	background: #ffffff;
	z-index: 1111;
	margin-top: -66px;
}

.containtCenter {
	padding-top: 120px;
	position: relative;
	z-index: 50;
	min-width:1000px;
}

.containtCenter dl dd {
	margin-right: auto;
	border-bottom: 1px solid #e4e4e4;
	height: 45px;
	display: block;
	font-size: 12px;
	color: #888888;
	position: relative;
	background: #ffffff;
}

.containtCenterRecycler {
	padding-top: 128px;
}

.containtCenterRecycler dl dd {
	margin-right: auto;
	border-bottom: 1px solid #e4e4e4;
	height: 45px;
	display: block;
	font-size: 12px;
	color: #888888;
}

.containtCenter dl dd {
	margin-right: auto;
	border-bottom: 1px solid #e4e4e4;
	height: 45px;
	display: block;
	font-size: 12px;
	color: #888888;
}

.containCenterCooperate {
	padding-top: 37px;
}

.containCenterCooperate dl dd {
	margin-right: auto;
	border-bottom: 1px solid #e4e4e4;
	height: 45px;
	display: block;
	font-size: 12px;
	color: #888888;
}

.containCenterShare {
	padding-top: 85px;
}

.containCenterShare dl dd {
	margin-right: auto;
	border-bottom: 1px solid #e4e4e4;
	height: 45px;
	display: block;
	font-size: 12px;
	color: #888888;
}

.containtCenterPublic {
	padding-top: 145px;
}

.containtCenterPublic dl dd {
	margin-right: auto;
	border-bottom: 1px solid #e4e4e4;
	height: 45px;
	display: block;
	font-size: 12px;
	color: #888888;
}

.containtCenterPriv {
	padding-top: 100px;
}

.containtCenterPriv dl dd {
	margin-right: auto;
	border-bottom: 1px solid #e4e4e4;
	height: 45px;
	display: block;
	font-size: 12px;
	color: #888888;
}

.searchFileTitle .searchDetail {
	float: left;
	width: 100%;
	line-height: 45px;
	height: 45px;
	position: relative;
}

.searchFileTitle .searchDetail .searchInfo {
	left: 20px;
	bottom: -2px;
	position: absolute;
}

.searchFileTitle .searchDetail .searchInfo .searchTitle {
	font-size: 24px;
	padding-left: 10px;
	padding-right: 10px;
	color: red;
}

.fileNameDetail,.fileNameDetailTitle {
	float: left;
	width: 66%;
	line-height: 45px;
	height: 45px;
	position: relative;
}

.fileNameDetail .cbox,.fileNameDetailTitle .title_cbox {
	visibility: hidden;
	left: 20px;
	bottom: 14px;
	position: absolute
}

.fileNameDetail .cbox_icon,.fileNameDetailTitle .cbox_all {
	background: url("images/clouddisk/checkbox_1.png");
	height: 26px;
	width: 26px;
	left: 20px;
	bottom: 9px;
	position: absolute;
	z-index: 999;
}
#dirAttAllCbox{
	left:16px;
	margin-top:12px;
	visibility: hidden;
}
#dirAttAllCboxIcon{
	background: url("images/clouddisk/checkbox_1.png");
	height: 26px;
	width: 26px;
	left:8px;
	margin-top:5px;
	position: absolute;
	z-index: 999;
}

.fileNameDetailTitle .title_cbox_icon {
	bottom: 7px;
}

.fileNameDetailTitle .fnameTitle {
	left: 50px;
	bottom: -2px;
	position: absolute;
	cursor: pointer;
}

.fileNameDetail .extImg {
	left: 50px;
	bottom: 8px;
	position: absolute;
}

.single_item,.singleboarder {
	margin-top: 15px;
}

.fileNameDetail .fname {
	left: 90px;
	max-width: 250px;
	min-width: 100px;
	overflow: hidden;
	height: 45px;
	line-height: 45px;
	text-overflow: ellipsis;
	position: absolute;
}

.fileNameDetail .file_action {
	display: none;
	float: right;
	margin: 15px 75px 10px 0px;
}

.fileNameDetail .file_action ul {
	width: 150px;
}

.fileNameDetail .file_action ul li {
	cursor: pointer;
	float: left;
	margin: 0 7px
}

.fileGroup .col {
	float: left;
	width: 10%;
	height: 45px;
	line-height: 45px;
	padding-left: 10px;
}

.fileGroup .col a {
	color: #888888;
}

/*--div滚轮CSS--*/
.divScroll {
	OVERFLOW: auto;
	scrollbar-face-color: #888;
	scrollbar-shadow-color: #D2E5F4;
	scrollbar-highlight-color: #D2E5F4;
	scrollbar-3dlight-color: #FFFFFF;
	scrollbar-darkshadow-color: #FFFFFF;
	scrollbar-track-color: #FFFFFF;
	scrollbar-arrow-color: #D2E5F4 ";
}

.op {
	background: none repeat scroll 0 0 #fff;
	border: 1px solid #cbcbcb;
	line-height: 30px;
	position: absolute;
	right: 83px;
	text-align: center;
	top: 35px;
	width: 60px;
	z-index: 1000;
	display: none;
	vertical-align: middle;
}

.op li {
	width: 60px;
	height: 24px;
}

.op li a {
	width: 60px;
}

.op li a:link,.op li a:visited {
	color: #888;
	text-decoration: none;
}

.op li a:hover {
	color: #fff;
	background: #666;
	text-decoration: none;
	width: 60px;
}

.op li a:active {
	color: #888;
	text-decoration: none;
}

.fileGroup .col .cooperateChange {
	margin-top: 10px;
}

.fileTitle .colTitle {
	float: left;
	width: 10%;
	height: 45px;
	border-left: 1px solid #e4e4e4;
	padding-left: 10px;
	cursor: pointer;
}

.fileTitle .colTitle span {
	line-height: 45px;
}

.fileNameDetail .fname a:link{
	color: #888;
	text-decoration: none;
}

.fileNameDetail .fname a:visited{
	color: #888;
	text-decoration: none;
}

.fileNameDetail .fname a:hover {
	color: #888;
	text-decoration: underline;
}



.fileNameDetail .fname a:active{
	color: #888;
	text-decoration: none;
}

IMG {
	border: 0px;
}

/**
SDwindowContent内容
*/
.windowContainCenter {
	width: 100%;
}

.windowContainCenter .row {
	border-bottom: 1px solid #e4e4e4;
	height: 43px;
	display: block;
	width: 100%;
	line-height: 43px;
}

.row span {
	float: left;
	height: 43px;
	line-height: 43px;
	text-align: center;
	font-size: 12px;
	color: #666;
	font-family: "宋体"
}

.row .first {
	padding-left: 10px;
	width: 25%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.row  .actionName {
	width: 18%;
	white-space: nowrap;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
}

.row  .name {
	width: 20%;
	cursor: pointer;
}

.row  .name  a : hover {
	width: 10%;
	cursor: pointer;
	color: red;
}

.row  .name2 {
	width: 10%;
}

.attachName {
	width: 90px;
	margin-left: 3px;
	height: 20px;
	white-space: nowrap;
	margin-top: 0px;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
}

.contentCenter div {
	display: none;
}

.attDirGroup {
	list-style: none;
	width: 100%;
	height: auto;
	text-align: center;
	vertical-align: middle;
	margin-top: 50px;
	padding-top: 80px;
}
#publicShareAttDirUl{
	padding-top: 30px;
}

.attDirGroup li {
	width: 110px;
	height: 120px;
	float: left;
	margin: 10px;
	display: block;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #fff;
	background: #fff;
	position: relative;
	cursor: pointer;
}

.attDirGroup li  .attDirCheckBox {
	position: absolute;
	right: 2px;
	top: 3px;
	width: 24px;
	height: 24px;
	display: none;
}

.attDirGroup li .attDirCheckIcon {
	position: absolute;
	right: 2px;
	top: 3px;
	width: 24px;
	height: 24px;
	overflow: hidden;
	cursor: pointer;
}

.attDirGroup li .attDirIcon {
	width: 72px;
	height: 70px;
	text-align: center;
	vertical-align: middle;
	margin-top: 21px;
	margin-bottom: 27px;
	margin-left: auto;
	margin-right: auto;
}

.attDirGroup li .attDirName {
	font-family: "宋体";
	font-size: 12px;
	height: 25px;
	width: 100%;
	color: #888;
	text-align: center;
	position: absolute;
	bottom: 0;
	line-height: 25px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	vertical-align: middle;
}

.attDirGroup li .attDirName a:link {
	color: #888;
	text-decoration: none;
}

.attDirGroup li .attDirName a:visited {
	color: #888;
	text-decoration: none;
}

.attDirGroup li .attDirName a:hover {
	color: #888;
	text-decoration: underline;
}

.attDirGroup li .attDirName a:active {
	color: #888;
	text-decoration: none;
}

.attDirGroup li .attDirName .attDirNameInput {
	width: 98%;
	height: 18px;
	margin-top: 5px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #c0e0f4;
	background: #fff;
	font-family: "宋体";
	font-size: 12px;
	color: #888;
}

.dirAttInputText {
	width: 120px;
	height: 18px;
	margin-top: 15px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #c0e0f4;
	background: #fff;
	font-family: "宋体";
	font-size: 12px;
	color: #888;
}

.rHead2 .checkboxDetail {
	position: absolute;
	top: 0;
	right: 50%;
	width: 180px;
	height: 25px;
	background: #d4eefe;
	color: #555;
	font-size: 12px;
	font-family: 宋体;
	filter: filter : alpha(opacity = 80);
	vertical-align: middle;
	text-align: center;
	line-height: 25px;
	border: 1px solid #a8deff;
	display: none;
}

.rHead2 .checkboxDetail .cancle {
	color: #008ced;
	cursor: pointer;
}

.rHead2Share {
	width: 100%;
	height: 36px;
	border: 1px solid #e4e4e4;
	background: #f7f7f7;
	z-index: 20;
	margin-top: 25px;
}

.rHead2Cooperate {
	width: 100%;
	height: 36px;
	border: 1px solid #e4e4e4;
	background: #f7f7f7;
	z-index: 20;
	margin-top: 20px;
}

.rHead2Share .checkboxDetail {
	position: absolute;
	top: 0;
	right: 50%;
	width: 180px;
	height: 25px;
	background: #d4eefe;
	color: #555;
	font-size: 12px;
	font-family: 宋体;
	filter: filter : alpha(opacity = 80);
	vertical-align: middle;
	text-align: center;
	line-height: 25px;
	border: 1px solid #a8deff;
	display: none;
}

.rHead2Share .checkboxDetail .cancle {
	color: #008ced;
	cursor: pointer;
}

/* showDialogUpload */
#SD_HideSelect {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 999;
	width: 100%;
	height: 100%;
	background: #FFFFFF;
	border: none;
	filter: alpha(opacity = 0);
	-moz-opacity: 0;
	opacity: 0;
}

* html #SD_HideSelect {
	position: absolute;
	height: expression(document.body.scrollHeight >   document.body.offsetHeight ?  
		document.body.scrollHeight :   document.body.offsetHeight +   'px');
}

#SD_overlay {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 1000;
	width: 100%;
	height: 100%;
}

* html #SD_overlay {
	position: absolute;
	height: expression(document.body.scrollHeight >   document.body.offsetHeight ?  
		document.body.scrollHeight :   document.body.offsetHeight +   'px');
}

.SD_overlayBG {
	background: #000000;
	filter: alpha(opacity = 50);
	-moz-opacity: 0.50;
	opacity: 0.50;
}

.SD_overlayBG2 {
	background: #FFFFFF;
	filter: alpha(opacity = 20);
	-moz-opacity: 0.20;
	opacity: 0.20;
	z-index: 1500;
}

.SD_upload {
	background: #333333;
	filter: alpha(opacity = 30);
	-moz-opacity: 0.30;
	opacity: 0.30;
	width: 12px;
	height: 9px;
	overflow: hidden;
}

.window_upload {
	position: fixed;
	z-index:2000;
}

#SD_window {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1000;
	overflow: hidden;
	display: none;
}

#upload_container {
	position: relative;
	z-index: 2005;
	background: #FFFFFF;
	border: 1px solid #888888;
	float: left;
	width: 100%
}

#upload_container h3 {
	height: 30px;
	line-height: 30px;
	background: #F6F6F6;
	border-bottom: 1px solid #CDCDCD;
	text-indent: 10px;
	color: #336699;
	font-size: 14px;
	font-weight: bold;
	cursor: move;
}

#upload_body {
	padding: 15px;
	white-space: normal;
}

#upload_body,#upload_body div,#upload_body p,#upload_body td {
	color: #000000;
}

#SD_button {
	padding: 10px 0px;
	background: #F6F6F6;
	border-top: 1px solid #CDCDCD;
	text-align: right;
	z-index:2000;
}

#SD_button a {
	margin-right: 10px;
	padding: 6px 10px 4px;
	background: #005EAC;
	border-width: 1px;
	border-style: solid;
	border-color: #D8DFEA #0E1F5B #0E1F5B #D8DFEA;
	white-space: nowrap;
	display: inline-block;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
}

#SD_button a:hover {
	text-decoration: none;
}

#upload_close {
	position: absolute;
	top: 6px;
	right: 10px;
	overflow: hidden;
	z-index: 1805;
	width: 17px;
	height: 17px;
	overflow: hidden;
	border: none;
	background: url(showDialog/sd_close.png) no-repeat 0px 0px;
}

#upload_close:hover {
	background-position: 0px -17px;
}

/*
2d69b0
*/ /**
 	lzm权限布局
 */
.privPdir dd .privUser {
	float: left;
	width: 10%;
	line-height: 45px;
	height: 45px;
	padding-left: 56px;
}

.privPdir dd .privCol {
	float: left;
	height: 45px;
	border-left: 1px solid #e4e4e4;
	padding-left: 10px;
	line-height: 45px;
}

.privPdir dd .privColContent {
	float: left;
	height: 45px;
	padding-left: 10px;
	line-height: 45px;
}

.privPdir dd .privDetailContent {
	width: 50%;
	padding-left: 5px;
}

.privPdir dd .privOptionContent {
	margin-left: 8px;
	color: #336699;
	text-decoration: underline;
}

.privPdir dd .privOptionContent a {
	margin-right: 10px;
}

.privPdir dd .privOptionContent a:link {
	color: #336699;
	text-decoration: none;
}

.privPdir dd .privOptionContent a:visited {
	color: #336699;
	text-decoration: none;
}

.privPdir dd .privOptionContent a:hover {
	color: #336699;
	text-decoration: underline;
}

.privPdir dd .privOptionContent a:active {
	color: #336699;
	text-decoration: none;
}

.privPdir dd .privDetailContent .privOp {
	position: relative;
	margin-left: 10px;
}

.privPdir dd .privDetailContent .privOp .opText {
	margin-left: 17px;
}

.privPdir dd .privDetailContent .privOp .cboxPriv {
	display: none;
}

.privPdir dd .privDetailContent .privOp .cboxIcon {
	background: url("images/clouddisk/checkbox_1.png");
	height: 26px;
	width: 26px;
	right: 26px;
	bottom: -5px;
	position: absolute;
	z-index: 999;
}

.privPdir dd .privDetail {
	width: 50%;
}

.privPdir dd .privCate {
	width: 15%;
}

.showTable,.tbg1{
	font-size: 12px;
	color: #888;
	cursor: pointer;
}

.showTable tbody tr td img {
	margin-left: 5px;
}

.showTable tbody tr td a {
	margin-left: 12px;
	text-decoration: none;
}

.treeBg {
	background: #f4f4f4 !important;
}

.treeBg2 {
	background: #fff;
}


.tbg1 tbody tr td  a {
	color: #888;
	font-size: 12px;
	text-decoration: underline;
}
.tbg1 tbody tr td  img {
	margin-left: 5px;
}

.tbg1 tbody tr td span{
	color: #888;
	font-size: 12px;
}
.showTable tbody tr td span{
	margin-left: 5px;
	color: #888;
	font-size: 12px;
}

.tbg1 tbody tr td:nth-child (2) a {
	color: #336699;
	font-size: 12px;
	text-decoration: underline;
}

.managePriv {
	margin: 10px;
}

/*
	新增子目录
*/
.dirTable,.privTable,.shareTable{
	font-size: 12px;
	color: #888;
	border-width: 1px;
	border-color: #e4e4e4;
	border-collapse: collapse;
	margin: 10px;
}

.dirTable th,.privTable th,.shareTable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #e4e4e4;
	background-color: #f7f7f7;
	font-size: 14px;
	font-family: "微软雅黑";
}

.dirTable td,.privTable td,.shareTable td{
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #e4e4e4;
	background-color: #ffffff;
	width: 50%;
}
.shareTable td{
	width:16%;
	text-align:center;
	vertical-align:middle;
}
.privTable td{
	width: 33%;
	text-align:center;
	
}

.dirTable tr:nth-child (2) td:nth-child (1){
	text-align: center;
}

.dirTable tr td .desc {
	color: #888;
	margin-top: 5px;
}

.dirTable tr td .colTitle {
	padding-left: 10px;
	width: 50px;
}

.dirTable tr td .colInput,.dirTable tr td .colInput2 {
	margin-left: 30px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #c0e0f4;
	width: 200px;
	height: 20px;
	background: #fff;
	color: #888;
	font-size: 12px;
}

.dirTable tr td .colInput2 {
	margin-left: 5px;
}

.dirTable tr .colBtn,.dirTable .roleContent td,.dirTable .btnTr td{
	text-align: center;
	vertical-align: middlel;
}

.dirTable tr .colBtn .sub,.dirTable .btnTr td .sub{
	width: 84px;
	height: 34px;
	background: #4392f2;
	border: none;
	color: #fff;
	font-size: 12px;
}

.dirTable tr .colBtn .res,.dirTable .btnTr td .btn ,.btnTr td .btn{
	width: 84px;
	height: 34px;
	background: #f4f4f4;
	border: none;
	color: #fff;
	font-size: 12px;
	margin-left: 10px;
	color: #888;
}
.dirTable .roleContent td .roleNames{
	border-radius: 3px;
	border: 1px solid #c0e0f4;
	background:#fff;
	font-size:12px;
	color:#888;
	padding:10px;
}
.dirTable tr td .colSel {
	border-radius: 3px;
	border: 1px solid #c0e0f4;
	width: 210px;
	height: 25px;
	background: #fff;
	margin-left: 15px;
	color: #888;
	font-size: 12px;
}
table tr td a{
	color:#888;
	text-decoration:underline;
}
table tr td a:link{
	color: #888;
	text-decoration: underline;
}

table tr td a:visited {
	color: #888;
	text-decoration: none;
}

table tr td a:hover{
	color: #888;
	text-decoration: underline;
}
/*
	普通上传 样式问题
*/
#logList {
	margin: 0;
	padding: 0;
	width: 350px
}
#logList li {
	list-style-position: inside;
	margin: 2px;
	padding: 10px;
	color: #888;
	font-size: 12px;
	background: #FFF;
	position: relative;
}
#logList li .progressBars{
	margin-top:10px;
	width:50%;
	height:15px;
	border:1px solid #449cde;
	float:left;
	margin-right:10px;
	
}
 
#logList li .progressValue {
	margin:10px;
	color: #449cde;
} 

#logList li .progress {
	background:#449cde;
	width:0%;
	margin:1px;
	height:13px;
}

/* user_nulti_sel.jsp 的css， 发起流程使用*/
#floater {
	margin:0px;
	cursor:pointer;
	top: 141px;
	width: 122px;
	visibility: visible;
	height: 222px;
	background-color: #fefefe;
	border:1px solid #cccccc;
}

.floaterTitle {
	font-weight:bold;
	background-color:#eeeeee;
}

.activePageNum {
	color:red;
	font-weight:bold;
	font-size:14px;
}
