@charset "utf-8";
<!-- /* ExoBUD MP(II) 播放面板样式表 */

a,a:link  { color: silver; text-decoration: none; }
a:visited { color: silver; text-decoration: none; }
a:active  { color: white;  text-decoration: none; }
a:hover   { color: white;  text-decoration: none; }

body      { margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px;
            cursor: crosshair; overflow: hidden; }

body,td   { font-family: 'Tahoma','Verdana','Arial'; font-size: 9pt; }

/* 显示媒体标题的样式表设定 */
.title    { font-family: 'Tahoma','Verdana','Arial'; font-size: 9pt; color: #EC008C; }

/* 显示时间长度的样式表设定 */
.time     { font-family: 'Tahoma','Verdana','Arial'; font-size: 9pt; color: darkblue; }

/* ８点迷你中文字型，请在有需要时，以 <span lang=zh-tw> 语法一起使用 */
/* .minichi  { font-family: '新宋体','PMingLiU'; font-size: 8pt; } */

//-->