<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>通讯录-详情</title>
    <link type="text/css" rel="stylesheet" th:href="@{${skinPath} + '/css.css'}"/>
</head>
<body>
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <td height="23" class="tdStyle_1">通讯录</td>
    </tr>
</table>
<br/>
<table width="43%" align="center" cellpadding="2" class="tabStyle_1 percent98" th:object="${addr}">
    <tr>
        <td class="tabStyle_1_title" height="21" colspan="2" align="left">个人信息</td>
    </tr>
    <tr>
        <td width="20%" height="19" align="center">姓名</td>
        <td width="80%" height="19" th:text="*{person}"></td>
    </tr>
    <tr>
        <td height="19" align="center">单位</td>
        <td height="19" th:text="*{company}"></td>
    </tr>
    <tr>
        <td height="19" align="center">职务</td>
        <td height="19" th:text="*{job}"></td>
    </tr>
    <tr>
        <td height="19" align="center">手机</td>
        <td height="19" th:text="*{mobile}">&nbsp;</td>
    </tr>
    <tr>
        <td height="19" align="center">短号</td>
        <td height="19" th:text="*{MSN}">&nbsp;</td>
    </tr>
    <tr>
    <tr>
        <td height="19" align="center">Email</td>
        <td height="19" th:text="*{email}">&nbsp;</td>
    </tr>
    <tr>
        <td height="19" align="center">微信</td>
        <td height="19" th:text="*{weixin}">&nbsp;</td>
    </tr>
    <td height="19" align="center">电话</td>
    <td height="19" th:text="*{tel}">&nbsp;</td>
    </tr>
    <tr>
        <td height="19" align="center">传真</td>
        <td height="19" th:text="*{fax}">&nbsp;</td>
    </tr>
    <tr>
        <td height="19" align="center">QQ</td>
        <td height="19" th:text="*{QQ}">&nbsp;</td>
    </tr>
    <tr>
        <td height="19" align="center">网页</td>
        <td height="19" th:text="*{web}">&nbsp;</td>
    </tr>
    <tr>
        <td height="19" align="center">邮编</td>
        <td height="19" th:text="*{postalcode}">&nbsp;</td>
    </tr>
    <tr>
        <td height="19" align="center">地址</td>
        <td height="19" th:text="*{address}">&nbsp;</td>
    </tr>
    <tr>
        <td height="19" align="center">附注</td>
        <td height="19" th:text="*{introduction}">&nbsp;</td>
    </tr>
</table>
</body>
</html>