@charset "utf-8";
/*弹出框样式*/
.popup_box {
	height: 412px;
	width: 864px;
	background-image: url(images/popup_bg-1.png);
	background-repeat: no-repeat;
}
.popup_box .popup_fram {
	height: 390px;
	width: 813px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	position: relative;
}
.popup_box .popup_fram .popup_title {
	font-size: 18px;
	line-height: 46px;
	height: 46px;
	position: relative;
	padding-left: 55px;
	color: #FFF;
	font-weight: bold;
	opacity:0.8;	
}
.popup_box .popup_fram .popup_kh {
    height: 39px;
    font-size: 18px;
    line-height: 35px;
    width: 443px;
    position: absolute;
    left: 387px;
    top: 100px;
    color: #009cb8;
}
.popup_box .popup_fram .popup_kh a {
    color: #fe973c;
}
.popup_box .popup_fram .popup_kh a:hover {
    color: #F30;
    text-decoration: underline;
}
.popup_box .popup_fram .popup_title .popup_close {
	height: 30px;
	width: 30px;
	position: absolute;
	right: 13px;
	top: 8px;
}

.popup_box .popup_fram .popup_txt {
	height: 111px;
    font-size: 18px;
    line-height: 30px;
    text-indent: 2em;
    width: 433px;
    position: absolute;
    left: 360px;
    top: 162px;
    color: #0099d9;
}
.popup_box .popup_fram .popup_txt a {
	color: #fe973c;
}

.popup_box .popup_fram .popup_button {
    text-align: center;
    height: 55px;
    position: absolute;
    width: 212px;
    left: 198px;
    top: 317px;
    background-image: url(images/popup_but-1.png);
    background-repeat: no-repeat;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    line-height: 48px;
}
.popup_box .popup_button_cancel {
    text-align: center;
    height: 55px;
    position: absolute;
    width: 212px;
    left: 437px;
    top: 317px;
    background-image: url(images/popup_but-2.png);
    background-repeat: no-repeat;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    line-height: 48px;

}
.popup_box .popup_fram  .popup_but_img {
	background-image: url(images/popup_but-1.png);
	height: 63px;
	width: 403px;
	background-repeat: no-repeat;
	color: #FFF;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	font-size: 20px;
	font-weight: bold;
	font-family: "微软雅黑";
}
.popup_box .popup_fram .popup_button a, .popup_button_cancel a {
    color: #FFF;
}

.popup_box .popup_fram .popup_button:hover, .popup_button_cancel:hover {
    opacity: 0.9;
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
}
.popup_box .popup_fram .popup_button a:hover, .popup_button_cancel a:hover {
    color: #FFF3C4;
}
.popup_box .popup_fram .popup_button a {
	color: #FFF;
}
/*弹出框样式结束*/

