@charset "utf-8";
.save {
  background: transparent url(tabpanel-image/flow_save.png) no-repeat 0px 7px;
  padding-left:20px;
}
.commit {
  background: transparent url(tabpanel-image/flow_commit.png) no-repeat 0 7px;
  padding-left:20px;
}
.doc {
  background: transparent url(tabpanel-image/flow_doc.png) no-repeat 0 7px;
  padding-left:20px;
}
.del {
  background: transparent url(tabpanel-image/flow_del.png) no-repeat 0 7px;
  padding-left:20px;
}
.chart {
  background: transparent url(tabpanel-image/flow_chart.png) no-repeat 0 7px;
  padding-left:20px;
}
.transfer {
  background: transparent url(tabpanel-image/flow_transfer.png) no-repeat 0 7px;
  padding-left:20px;
}
.suspend {
  background: transparent url(tabpanel-image/flow_suspend.png) no-repeat 0 7px;
  padding-left:20px;
}
.disagree {
  background: transparent url(tabpanel-image/flow_disagree.png) no-repeat 0 7px;
  padding-left:20px;
}
.return {
  background: transparent url(tabpanel-image/flow_return.png) no-repeat 0 7px;
  padding-left:20px;
}
.toRetuner {
  background: transparent url(tabpanel-image/flow_toretuner.png) no-repeat 0 7px;
  padding-left:20px;
}
.discard {
  background: transparent url(tabpanel-image/flow_discard.png) no-repeat 0 7px;
  padding-left:20px;
}
.archive {
  background: transparent url(tabpanel-image/flow_archive.png) no-repeat 0 7px;
  padding-left:20px;
}
.process {
  background: transparent url(tabpanel-image/flow_process.png) no-repeat 0 7px;
  padding-left:20px;
}
.plus {
  background: transparent url(tabpanel-image/plus.png) no-repeat 0px 7px;
  padding-left:20px;
}
.linkProject {
  background: transparent url(tabpanel-image/link.png) no-repeat 0px 7px;
  padding-left:20px;
}
.distribute {
  background: transparent url(tabpanel-image/flow_distribute.png) no-repeat 0px 7px;
  padding-left:20px;
}
.attention {
  background: transparent url(tabpanel-image/attention.png) no-repeat 0px 7px;
  padding-left:20px;
}
.cancelAttention {
  background: transparent url(tabpanel-image/cancelAttention.png) no-repeat 0px 7px;
  padding-left:20px;
}
.debug {
  background: transparent url(tabpanel-image/debug.png) no-repeat 0px 7px;
  padding-left:20px;
}
.manage {
  background: transparent url(tabpanel-image/manage.png) no-repeat 0px 7px;
  padding-left:20px;
}
.finish {
  background: transparent url(tabpanel-image/flow_finish.png) no-repeat 0 7px;
  padding-left:20px;
}
.alter {
  background: transparent url(tabpanel-image/alter.png) no-repeat 0 7px;
  padding-left:20px;
}