@charset "utf-8";
.add {
    background: transparent url(tabpanel-image/add.png) no-repeat 0 2px;
    background-position-y: 8px;
    padding-left: 18px;
}

.edit {
    background: transparent url(tabpanel-image/edit.png) no-repeat 0 2px;
    background-position-y: 8px;
    padding-left: 18px;
}

.del {
    background: transparent url(tabpanel-image/delete.png) no-repeat 0 2px;
    background-position-y: 8px;
    padding-left: 18px;
}

.save {
    background: transparent url(tabpanel-image/manage.png) no-repeat 0 2px;
    background-position-y: 8px;
    padding-left: 18px;
}

.import {
    background: transparent url(tabpanel-image/import.png) no-repeat 0 2px;
    background-position-y: 8px;
    padding-left: 18px;
}

.flashImage {
    background: transparent url(tabpanel-image/fullscreen.png) no-repeat 0 2px;
    background-position-y: 8px;
    padding-left: 18px;
}

.recover {
    background: transparent url(tabpanel-image/recover.png) no-repeat 0 2px;
    background-position-y: 8px;
    padding-left: 18px;
}

.wallpaper {
    background: transparent url(tabpanel-image/wallpaper.png) no-repeat 0 2px;
    background-position-y: 8px;
    padding-left: 18px;
}

.wallpaper_sel {
    background: transparent url(tabpanel-image/wallpaper_sel.png) no-repeat 0 2px;
    background-position-y: 8px;
    padding-left: 18px;
}

.chart {
    background: transparent url(tabpanel-image/chart.gif) no-repeat 0 2px;
    background-position-y: 8px;
    padding-left: 18px;
}