@font-face {
  font-family: "iconfont"; /* Project id 2549651 */
  src: url('iconfont.woff2?t=1621077896284') format('woff2'),
       url('iconfont.woff?t=1621077896284') format('woff'),
       url('iconfont.ttf?t=1621077896284') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-calendar:before {
  content: "\e6f5";
}

.icon-zuixing-13:before {
  content: "\e639";
}

.icon-mail:before {
  content: "\e62e";
}

.icon-Compose-Mail:before {
  content: "\e6c1";
}

.icon-Attache-Mail:before {
  content: "\e6c2";
}

.icon-Done-Mail:before {
  content: "\e6c3";
}

.icon-email:before {
  content: "\e605";
}

.icon-mail1:before {
  content: "\e707";
}

.icon-tongzhi:before {
  content: "\e607";
}

.icon-tongzhi1:before {
  content: "\e64f";
}

.icon-zu:before {
  content: "\e61a";
}

.icon-kejian:before {
  content: "\e662";
}

.icon-zhongdianchanpinchiyou:before {
  content: "\e663";
}

.icon-caifushangjigenjin:before {
  content: "\e664";
}

.icon-xindaixinxi:before {
  content: "\e665";
}

.icon-jibenziliao:before {
  content: "\e666";
}

.icon-licaijiaoyi:before {
  content: "\e667";
}

.icon-zichanxinxi:before {
  content: "\e668";
}

.icon-gongnengzhibiao:before {
  content: "\e669";
}

.icon-genjinjilu:before {
  content: "\e66a";
}

.icon-zijinyidong:before {
  content: "\e66b";
}

.icon-kehuguanxi:before {
  content: "\e66c";
}

.icon-xindaishangjigenjin:before {
  content: "\e66d";
}

.icon-360shitu:before {
  content: "\e66e";
}

.icon-bujianchuli:before {
  content: "\e66f";
}

.icon-caikedaoqichengjie:before {
  content: "\e670";
}

.icon-caifushangji:before {
  content: "\e671";
}

.icon-caikelinjietisheng:before {
  content: "\e672";
}

.icon-daikuanjinjian:before {
  content: "\e673";
}

.icon-fangliushiyujing:before {
  content: "\e674";
}

.icon-caifushisuangongju:before {
  content: "\e675";
}

.icon-daikuanshisuangongju:before {
  content: "\e676";
}

.icon-caifubanli:before {
  content: "\e677";
}

.icon-gerenKPI:before {
  content: "\e678";
}

.icon-tiaochajinjian:before {
  content: "\e679";
}

.icon-gaoqiankehu:before {
  content: "\e67a";
}

.icon-dakehutisheng:before {
  content: "\e67b";
}

.icon-shangjiguanli:before {
  content: "\e67c";
}

.icon-daeyidonggenjin:before {
  content: "\e67d";
}

.icon-gerenhuodongliang:before {
  content: "\e67e";
}

.icon-tuanduiKPI:before {
  content: "\e67f";
}

.icon-huodongliangguanli:before {
  content: "\e680";
}

.icon-huodongtuiguang:before {
  content: "\e681";
}

.icon-kehuchaxun:before {
  content: "\e682";
}

.icon-tuanduihuodongliang:before {
  content: "\e683";
}

.icon-xindaishangji:before {
  content: "\e684";
}

.icon-waichuqiandao:before {
  content: "\e685";
}

.icon-yingxiaodongtai:before {
  content: "\e686";
}

.icon-AIkanbanjigou:before {
  content: "\e687";
}

.icon-xinyongkashangji:before {
  content: "\e688";
}

.icon-xiahutiaocha:before {
  content: "\e689";
}

.icon-shuimianjihuo:before {
  content: "\e68a";
}

.icon-yingxiaoxiaochengxu:before {
  content: "\e68b";
}

.icon-AIkanbangeren:before {
  content: "\e68c";
}

.icon-AImingpian:before {
  content: "\e68d";
}

.icon-jigouKPI:before {
  content: "\e68e";
}

.icon-kehuguanhuai:before {
  content: "\e68f";
}

.icon-chanpintuijian:before {
  content: "\e690";
}

.icon-yixianggenjin:before {
  content: "\e691";
}

.icon-chanpinyuyue:before {
  content: "\e692";
}

.icon-chanpintuiguang:before {
  content: "\e693";
}

.icon-jinduchaxun:before {
  content: "\e694";
}

.icon-tuanduiqiandao:before {
  content: "\e695";
}

.icon-daihoutiaocha:before {
  content: "\e696";
}

.icon-huankuantixing:before {
  content: "\e697";
}

.icon-chenxihui:before {
  content: "\e698";
}

.icon-xiahutiaocha1:before {
  content: "\e699";
}

.icon-jigouxindaishangji:before {
  content: "\e69a";
}

.icon-jigoucaifushangji:before {
  content: "\e69b";
}

.icon-kehupandian:before {
  content: "\e69c";
}

.icon-jingyingshitu:before {
  content: "\e69d";
}

.icon-kehufenceng:before {
  content: "\e69e";
}

.icon-shaixuan:before {
  content: "\e69f";
}

.icon-shezhi:before {
  content: "\e6a0";
}

.icon-xiaoxihei:before {
  content: "\e6a1";
}

.icon-wodepeilian:before {
  content: "\e6a2";
}

.icon-xinzengshangji:before {
  content: "\e6a4";
}

.icon-quanbu:before {
  content: "\e6b6";
}

.icon-shengchanliucheng:before {
  content: "\e62f";
}

.icon-zidingyiliucheng:before {
  content: "\e650";
}

.icon-xiaoxizhongxin-my:before {
  content: "\e784";
}

