@charset "utf-8";
/* CSS Document */

/*弹出框样式*/

.popup_box {
	height: 412px;
	width: 864px;
	background-image: url(images/popup_bg-2.png);
	background-repeat: no-repeat;
}
.popup_box .popup_fram {
	height: 390px;
	width: 813px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	position: relative;
}
.popup_box .popup_fram .popup_title {
	font-size: 18px;
	line-height: 46px;
	height: 46px;
	position: relative;
	padding-left: 60px;
	color: #FFF;
	font-weight: bold;
}
.popup_box .popup_fram .popup_title .popup_close {
	height: 30px;
	width: 30px;
	position: absolute;
	right: 5px;
	top: 8px;
}
.popup_box .popup_fram .popup_kh {
	height: 39px;
	font-size: 18px;
	line-height: 35px;
	width: 384px;
	position: absolute;
	left: 354px;
	top: 101px;
	color: #009cb8;
}

.popup_box .popup_fram .popup_txt {
	height: 111px;
	font-size: 18px;
	line-height: 35px;
	width: 443px;
	position: absolute;
	left: 353px;
	top: 162px;
	color: #0099d9;
	text-indent: 2em;
}
.popup_box .popup_fram .popup_kh a {
	color: #fe973c;
}
.popup_box .popup_fram .popup_kh a:hover {
	color: #F30;
	text-decoration: underline;
}


.popup_bottomDiv{
	width:80%;
	//background:#ffffcc;
	margin:0 auto;
	margin-top:15px;
	overflow:hidden;
	text-align:center;
}


.popup_box .popup_fram .popup_button {
	display:inline-block;
	float:none;
	text-align: center;
	height: 41;
	margin:0px auto; 
	width: 110px;
	top: 260px;
	background-image: url(images/popup_but-1.png);
	background-repeat: no-repeat;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	color: #FFF;
	font-size: 18px;
	font-weight: bold;
	line-height: 41px;
}
.popup_box .popup_button_cancel {
	display:inline-block;
	float:none;
	text-align: center;
	height: 41px;
    margin:0px auto; 
	width: 110px;
	top: 260px;
	background-image: url(images/popup_but-2.png);
	background-repeat: no-repeat;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	color: #FFF;
	font-size: 18px;
	font-weight: bold;
	line-height: 41px;
}

.popup_box .popup_button_active {
	display:inline-block;
	float:none;
	text-align: center;
	height: 41px;
	margin:0px auto; 
	width: 110px;
	top: 260px;
	background-image: url(images/popup_but-2.png);
	background-repeat: no-repeat;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	color: #FFF;
	font-size: 18px;
	font-weight: bold;
	line-height: 41px;
}


.popup_box .popup_fram .popup_button a,.popup_button_cancel a ,.popup_button_active a {
	color: #FFF;
}

.popup_box .popup_fram .popup_button:hover, .popup_button_cancel:hover, .popup_button_active:hover {
	opacity: 0.8;
	filter:alpha(Opacity=80);
}
.popup_box .popup_fram .popup_button a:hover, .popup_button_cancel a:hover, .popup_button_active a:hover {
	color: #000;
}
.popup_fram_tab {
	height: 35px;
	margin-top: 15px;
}
.popup_fram_tab ul {
	width: 290px;
	margin-right: auto;
	margin-left: auto;
}
.popup_fram_tab li {
	float: left;
	margin-right: 20px;
	padding-right: 20px;
	padding-left: 20px;
	line-height: 35px;
	height: 35px;
	font-size: 18px;
	text-align: center;
	cursor:pointer;
-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
	position: relative;
	behavior: url(css/ie-css3.htc);
}
.popup_fram_tab_sel {
	background-color: #FFF;
}


/*弹出框样式结束*/
.popup_fram_login {
	background-color: #FFF;
	height: 290px;
	width: 705px;
	margin-right: auto;
	margin-left: auto;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	behavior: url(css/ie-css3.htc);
}
.popup_fram_register {
	background-color: #FFF;
	height: 320px;
	width: 705px;
	margin-top: auto;
	margin-right: auto;
	margin-left: auto;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	behavior: url(css/ie-css3.htc);
}
.popup_fram_login_cont {
	font-size: 18px;
	text-align: center;
	padding-top: 70px;
}
.popup_fram_login_cont input {
	width: 250px;
	color: #C6C6C6;
	font-size: 14px;
	height: 26px;
	border: 1px solid #DFDFDF;
	display:block;
	float:left;
	padding-top:4px;
	padding-left:10px;
}

.popup_fram_login_cont ul li{
   display:block;
   height:50px;
}
.popup_fram_login_cont span{
    display:block;
	float:left;
	line-height:35px;
}

.popup_fram_login_cont span.titleClass {
	margin-left:150px;
	width:100px;
	color:#000000;
}
.popup_fram_login_cont span.numInfo{
   width:150px;
}

.popup_fram_register_cont {
	font-size: 18px;
	text-align: center;
	padding-top: 20px;
	line-height: 40px;
}
.popup_fram_register_cont input {
	width: 250px;
	color: #C6C6C6;
	font-size: 14px;
	height: 26px;
	border: 1px solid #DFDFDF;
	display:block;
	float:left;
	padding-top:4px;
	padding-left:10px;
}
.popup_fram_register_cont ul li{
   display:block;
   height:45px;
}
.popup_fram_register_cont span{
    display:block;
	float:left;
}

.popup_fram_register_cont span.titleClass {
	margin-left:150px;
	width:100px;
	color:#000000;
}
.popup_fram_register_cont span.fullNameNum{
   width:120px;
}

.protocolClass{
	font-size:13px;
	font-weight: bold;
	margin-bottom:15px;
	margin-left:222px;
}


