/*登录界面样式*/
body {
	background-color: #BA0202;
	background-image: url(images/login/login_bgimg.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	overflow: hidden;
}

html { height:100%; margin:0; }
.logincontent {
	padding-bottom: 30px;
	background-repeat: no-repeat;
	background-position: center top;
	margin-bottom: 30px;
	overflow: hidden;
	min-height:600px;
	min-height:600px;
	height: 100%;
	z-index:1;
}
.logincontent .login_topbox {
	height: 60px;
	padding-top: 30px;
}
.logincontent .login_topbox .login_topleft {
	float: left;
	width: 60%;
	padding-left: 60px;
}
.logincontent .login_topbox .login_topright {
	float: right;
	width: 132px;
	height: 44px;
	margin-right: 20px;
}

.logincontent .loginbar_frame {
	width: 1000px;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
	height: 454px;
	background-image: url(images/login/login_fram.png);
	background-repeat: no-repeat;
	background-position: center top;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -216px;
	margin-left: -500px;
}
.logincontent .loginbar_frame .loginbar_computer_bg {
	height: 433px;
	width: 647px;
	float: left;
	background-position: left top;
	background-repeat: no-repeat;
	background-image: url(images/login/login_computer.jpg);
}

.logincontent .loginbar_frame .loginbar_bgbox {
	height: 433px;
	background-repeat: no-repeat;
	float: right;
	width: 353px;
	background-position: left 30px;
}
.logincontent .loginbar_frame .loginbar_bgbox .loginbar_posit {
	position: relative;
	height: 517px;
}

.logincontent .loginbar_frame .loginbar_bgbox .loginbar_case {
	position: absolute;
	height: 318px;
	width: 316px;
	left: 20px;
	top: 55px;
}
.logincontent .loginbar_frame .loginbar_bgbox .loginbar_case .input_box1 {
	line-height: 25px;
	color: #F30;
	height: 30px;
	text-align: center;
}

.logincontent .loginbar_frame .loginbar_bgbox .loginbar_case .input_box2 {
	line-height: 43px;
	border: 1px solid #d5d5d5;
	height: 43px;
	margin-bottom: 15px;
}
.logincontent .loginbar_frame .loginbar_bgbox .loginbar_case .input_box2 input {
	float:right;
	margin:0;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none; 
	border-left-style: none;
	height: 41px;
	_height: 41px;
	width: 269px;
	_width: 268px;
	color: #999;
	text-indent: 10px;
	vertical-align:middle;
	line-height:41px;
	_line-height: 40px;
    padding:0px;
    border-width:0px;
}
.logincontent .loginbar_frame .loginbar_bgbox .loginbar_case .input_box2 .span_user {
	background-image: url(images/login/login_userico.png);
	height: 43px;
	width: 43px;
	float: left;
}
.logincontent .loginbar_frame .loginbar_bgbox .loginbar_case .input_box2 .span_code {
	background-image: url(images/login/login_codeico.png);
	height: 43px;
	width: 43px;
	float: left;
}
.logincontent .loginbar_frame .loginbar_bgbox .loginbar_case .login_button {
	margin-right: auto;
	margin-left: auto;
	margin-top: 110px;
	margin-bottom: 10px;
	background-image: url(images/login/loginbutton.png);
	background-repeat: no-repeat;
	height: 45px;
	width: 313px;
	cursor:pointer;
}
.logincontent .loginbar_frame .loginbar_bgbox .loginbar_case .QRcode {
	float: right;
	height: 28px;
	width: 82px;
}

.logincontent-footer {
	height: 43px;
	color: #FFF;
	text-align: center;
	position:fixed;
	bottom:0px;
	top:auto;
	width: 100%;
	z-index:0;
}

.input_box4{
	position: relative;
	color: #666;
}
.input_box4  #send_to_desktop{
	position:absolute;
	right:0;
	width:28px;
	height:22px;
	background:url("images/send_to_desktop.png");

}