<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloudweb.oa.mapper.DeptUserMapper">

    <resultMap id="BaseResultMap" type="com.cloudweb.oa.entity.DeptUser">
        <id column="ID" property="id" />
        <result column="DEPT_CODE" property="deptCode" />
        <result column="USER_NAME" property="userName" />
        <result column="ORDERS" property="orders" />
    </resultMap>

    <sql id="Base_Column_List">
        ID, DEPT_CODE, USER_NAME, ORDERS
    </sql>

    <select id="listIdBySql" parameterType="string" resultType="java.lang.Integer">
        ${sql}
    </select>

    <select id="listBySql" parameterType="string" resultMap="BaseResultMap">
        ${sql}
    </select>
</mapper>
