<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloudweb.oa.mapper.OaPortalMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cloudweb.oa.entity.OaPortal">
        <id column="id" property="id" />
        <result column="user_name" property="userName" />
        <result column="name" property="name" />
        <result column="orders" property="orders" />
        <result column="system_id" property="systemId" />
        <result column="icon" property="icon" />
        <result column="is_fixed" property="isFixed" />
        <result column="depts" property="depts" />
        <result column="roles" property="roles" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_name, name, orders, system_id, icon, is_fixed, depts, roles
    </sql>

</mapper>
