<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloudweb.oa.mapper.RoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cloudweb.oa.entity.Role">
        <id column="code" property="code" />
        <result column="description" property="description" />
        <result column="isSystem" property="isSystem" />
        <result column="orders" property="orders" />
        <result column="disk_quota" property="diskQuota" />
        <result column="unit_code" property="unitCode" />
        <result column="msg_space_quota" property="msgSpaceQuota" />
        <result column="rank_code" property="rankCode" />
        <result column="role_type" property="roleType" />
        <result column="is_dept_manager" property="isDeptManager" />
        <result column="kind" property="kind"/>
        <result column="status" property="status"/>
        <result column="id" property="id"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        code, description, isSystem, orders, disk_quota, unit_code, msg_space_quota, rank_code, role_type, is_dept_manager, kind, status, id
    </sql>

    <select id="listBySql" parameterType="string" resultMap="BaseResultMap">
        ${sql}
    </select>
</mapper>
