<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloudweb.oa.mapper.UserRoleDepartmentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cloudweb.oa.entity.UserRoleDepartment">
        <id column="id" property="id" />
        <result column="dept_code" property="deptCode" />
        <result column="role_code" property="roleCode" />
        <result column="include" property="include" />
        <result column="create_date" property="createDate" />
        <result column="creator" property="creator" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, dept_code, role_code, create_date, creator
    </sql>

    <select id="listBySql" parameterType="string" resultMap="BaseResultMap">
        ${sql}
    </select>
</mapper>
