@charset "utf-8";
/* CSS Document */
#topBar{
	width:796px;
	height:62px;
	z-index:45;
	position:absolute;
	left:50%;
	margin-left:-398px;
	background:url(../images/rltopBg.png) no-repeat center top;
}

.leftBar,.rightBar{
	width:210px;
	height:24px;
	line-height:24px;
	margin-top:16px;
	} 
	
.leftBar{
	float:left;
	margin-left:25px;
	} 
.rightBar{
	float:right;
	margin-right:25px;
	}	
.leftBar a,.rightBar a{
	display:block;
	width:24px;
	height:24px;
	padding:0 8px;
	margin:0 5px;
	float:left;
	}	
 