#cws_edit DIV.quote
{
    BORDER-RIGHT: #cccccc 1px solid;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #cccccc 1px solid;
    PADDING-LEFT: 5px;
    BACKGROUND: #f3f3f3;
    PADDING-BOTTOM: 5px;
    MARGIN: 5px 20px;
    BORDER-LEFT: #cccccc 1px solid;
    LINE-HEIGHT: normal;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: #cccccc 1px solid
}
#cws_edit DIV.HtmlCode
{
    BORDER-RIGHT: #cccccc 1px solid;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #cccccc 1px solid;
    PADDING-LEFT: 5px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    BACKGROUND: #fdfddf;
    PADDING-BOTTOM: 5px;
    MARGIN: 5px 20px;
    BORDER-LEFT: #cccccc 1px solid;
    LINE-HEIGHT: normal;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: #cccccc 1px solid;
    FONT-STYLE: oblique;
    FONT-FAMILY: Tahoma
}
#cws_edit
{
    BORDER-RIGHT: #cccccc 1px solid;
    BORDER-TOP: #cccccc 1px solid;
    MARGIN: 0px auto;
    BORDER-LEFT: #cccccc 1px solid;
    WIDTH: 98%;
    BORDER-BOTTOM: #cccccc 1px solid;
    BACKGROUND-COLOR: gainsboro;
    TEXT-ALIGN: left;
	margin-bottom:10px;
}
#cws_edit LI
{
    PADDING-RIGHT: 3px;
    DISPLAY: inline;
    PADDING-LEFT: 3px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    TEXT-ALIGN: center
}
#cws_edit UL
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 3px;
    WIDTH: 100%;
    PADDING-TOP: 0px;
    TEXT-ALIGN: left
}
#cws_edit UL.PostiFrame
{
    HEIGHT: 300px
}
#cws_edit IFRAME.cws_Composition
{
    BORDER-RIGHT: 1px inset #bbbbbb;
    BORDER-TOP: 1px inset #bbbbbb;
    BORDER-LEFT: 1px inset #bbbbbb;
    BORDER-BOTTOM: 1px inset #bbbbbb;
	width:99%;
}
#cws_edit .cws_Reply
{
    BORDER-RIGHT: buttonface 1px dashed;
    BORDER-TOP: buttonface 1px dashed;
    BORDER-LEFT: buttonface 1px dashed;
    BORDER-BOTTOM: buttonface 1px dashed
}
#cws_edit .yToolbar
{
}
#cws_edit .cws_Btn
{
    MARGIN-TOP: 0px;
    WIDTH: 28px;
    PADDING-TOP: 5px;
    HEIGHT: 23px;
    BACKGROUND-COLOR: gainsboro;
    TEXT-ALIGN: center
}
#cws_edit .cws_BtnMouseOverUp
{
    BORDER-RIGHT: transparent 1px solid;
    BORDER-TOP: transparent 1px solid;
    MARGIN-TOP: 0px;
    BORDER-LEFT: transparent 1px solid;
    WIDTH: 28px;
    CURSOR: hand;
    PADDING-TOP: 3px;
    BORDER-BOTTOM: transparent 1px solid;
    HEIGHT: 23px;
    BACKGROUND-COLOR: #b5bed6;
    TEXT-ALIGN: center
}
#cws_edit .cws_Ico
{
    CURSOR: pointer
}
#cws_edit .cws_TBGen
{
    MARGIN: 0px;
    FONT: 10pt "verdana", "arial", "sans-serif"
}
#cws_edit .cws_BtnMouseOverDown
{
    BORDER-RIGHT: transparent 1px solid;
    BORDER-TOP: transparent 1px solid;
    BORDER-LEFT: transparent 1px solid;
    WIDTH: 22px;
    CURSOR: pointer;
    BORDER-BOTTOM: transparent 1px solid;
    HEIGHT: 22px;
    BACKGROUND-COLOR: #eeeeee;
    TEXT-ALIGN: center
}
#cws_edit .BtnDown
{
    CURSOR: pointer;
    BACKGROUND-COLOR: #8592b5;
    TEXT-ALIGN: center
}
#cws_edit .cws_IcoDown
{
    CURSOR: pointer
}
#cws_edit .cws_IcoDownPressed
{
    CURSOR: pointer
}
#cws_edit LI.cws_TabOn
{
    BORDER-RIGHT: 1px inset;
    PADDING-RIGHT: 5px;
    BORDER-TOP: 1px inset;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 1px;
    FONT: 8pt MS Sans Serif;
    BORDER-LEFT: 1px inset;
    PADDING-TOP: 1px;
    BORDER-BOTTOM: 1px inset;
    BACKGROUND-COLOR: #eeeeee
}
#cws_edit LI.cws_TabOff
{
    BORDER-RIGHT: #848284 1px solid;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #ffffff 1px solid;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 1px;
    FONT: 8pt MS Sans Serif;
    BORDER-LEFT: #ffffff 1px solid;
    CURSOR: pointer;
    PADDING-TOP: 1px;
    BORDER-BOTTOM: #848284 1px solid
}
#cws_edit LI.cws_SmileOn
{
    BORDER-RIGHT: 1px inset;
    BORDER-TOP: 1px inset;
    FONT: 9pt MS Sans Serif;
    BORDER-LEFT: 1px inset;
    CURSOR: pointer;
    BORDER-BOTTOM: 1px inset;
    BACKGROUND-COLOR: #ffd988
}
#cws_edit LI.cws_SmileOff
{
    FONT: 9pt MS Sans Serif
}
#cws_edit IMG
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    BORDER-LEFT: 0px;
    BORDER-BOTTOM: 0px
}
