BODY {
	FONT-SIZE: 9pt; FONT-FAMILY: Arial; BACKGROUND-COLOR: gainsboro
}
TD {
	FONT-SIZE: 9pt; FONT-FAMILY: Arial
}
SELECT {
	FONT-SIZE: 9pt; FONT-FAMILY: Arial
}
DIV {
	FONT-SIZE: 9pt; FONT-FAMILY: Arial
}
SPAN {
	FONT-SIZE: 9pt; FONT-FAMILY: Arial
}
BUTTON {
	FONT-SIZE: 9pt; FONT-FAMILY: Arial
}
BUTTON {
	BORDER-TOP-WIDTH: 1pt; BORDER-LEFT-WIDTH: 1pt; BORDER-BOTTOM-WIDTH: 1pt; WIDTH: 5em; BORDER-RIGHT-WIDTH: 1pt
}
INPUT {
	PADDING-RIGHT: 3pt; PADDING-LEFT: 3pt; FONT-SIZE: 9pt; PADDING-BOTTOM: 1pt; PADDING-TOP: 1pt
}
.title {
	FONT-WEIGHT: bold
}
A:link {
	COLOR: #0000bb
}
A:visited {
	COLOR: #0000bb
}
