/*  背景 */
body {
	margin:0px;
	font-size:12px;
	font-family: "Microsoft YaHei" ! important;
	background:#fff;
	}
#main_bg {
	margin: 0 auto; 
	padding:20px 30px 20px 30px;
	width: 940px; 
	border:1px solid #dedede;
	background-color:#f5f5f5;
	}
/*  背景 */
p{
text-indent: 2em; height:auto;margin: 0;}

.title{
	text-align:center;
	font-size:20px;
	line-height:50px;
	color:#333;
	font-weight:bold;
	}
.text_title{
	text-align:left;
	font-size:15px;
	line-height:26px;
	color:#333;
	word-wrap: break-word;
	word-break: normal;
	font-weight:bold;
	color:#333;
	}
.text_title span{
	line-height:46px;
	}
.text_content{
	text-align:left;
	font-size:15px;
	line-height:28px;
	color:#666;
	word-wrap: break-word;
	word-break: normal;
	}
.text_content span{
	font-weight:bold;
	color:#333;
	line-height:50px;
	}
.text_right{
	font-size:15px;
	font-weight:bold;
	color:#333;
	line-height:50px;
	text-align:right;
	}

