
html,body {
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	font-size:12px;
	font-family:"微软雅黑";
}

a:link {
color:#000000;
}
a:hover {
color:red;
}
a:visited {
color:#000000;
}
#rightMain {
	height:100%;
}
.menuBoxC {
	height:29px;
	background-color:#EDF4FC;
	border-bottom:1px solid #8BB2D3;
	font-size:12px;
}

.rightMainTitle {
	width:100%;
	height:46px;
	background-image:url(images/right_main_title.jpg);
	background-repeat:repeat-x;
	line-height:46px;
}
.rightMainTitle a:link {
	color:#0168B3;
}
.tabStyleA {
	font-size:12px;
	border:1px solid #D7D7D7;
	border-collapse:collapse;
	table-layout:fixed;
}
.tabStyleATitle {
	height:24px;
	background-image:url(images/tab_style_title.jpg);
	background-repeat:repeat-x;
	font-weight:bold;
}
.tabStyleATitle td {
	border:1px solid #D7D7D7;
	border-collapse:collapse;
}
.font_12px {
	font-size:12px;
}
.font_14px_bold {
	font-size:14px;
	font-weight:bold;
}
.font_12px_bold {
	font-size:12px;
	font-weight:bold;
	color:#000000;
}
.font_12px_bold_red {
	font-size:12px;
	font-weight:bold;
	color:#FF0000;
}
.chkBox {
	width:30px;
}
.alignCenter {
	text-align:center;
}
.mailType {
	width:50px;
	padding-left:6px;
}
.mailType img {
	margin-right:6px;
}
.mailFrom {
	width:25%;
	padding:0 6px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.mailTime {
	width:120px;
}
#spanStatus {
	height:26px;
	line-height:26px;
	margin:9px 20px;
	padding:0 12px;
	float:right;
	background-color:#FFFFE1;
	border:1px solid #CCCCCC;
}
#title {
	float:left;
	margin-left:12px;
}
.unread {
	font-weight:bold;
}
.unread a:link {
	font-weight:bold;
}
.tabStyleMain {
	height:24px;
}
.mailTitle {
	padding:0 6px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.mailTitle a {
	text-decoration:none;
	color:#000000;
}
.tabStyleAFoot {
	height:33px;
	line-height:33px;
	background-color:#F7F7F7;
}
.tabStyleAFoot td {
	border-top:1px solid #D7D7D7;
}
.selChkBox {
	padding-left:20px;
	color:#0099FF;
	float:left;
}
.selChkBox a:link {
	color:#0168B3;
}
.selChkBox a:visited {
	color:#0168B3;
}
.selPage {
	float:right;
	text-align:right;
	padding-right:20px;
	padding-top:3px;
	color:#CCCCCC;
}
.selPage a:link {
	color:#656565;
	text-decoration:none;
}
.rightMainBottom {
	height:35px;
	line-height:35px;
	border-bottom:1px solid #D7D7D7;
	background-image:url(images/right_main_bottom.jpg);
	vertical-align:middle;           
	 position:relative;
}
.rightMainBottom .sel {
	top:10px;
	position: absolute;
}
#delButtonB {
	margin-left:12px;
	margin-top:5px;
}
#delButtonC {
	margin-left:12px;
	margin-top:5px;
}
#moveTo {
	margin-left:12px;
	
}
.menuBoxC ul {
	height:100%;
	padding:0;
	margin:0;
	float:left;
	list-style:none;
}
.menuBoxC ul li {
	cursor:pointer;
}

.attachments ul {
list-style:none;
}

#delButtonA {
	width:62px;
	height:100%;
	float:left;
	margin-left:15px;
	text-align:center;
}
#delButtonA td {
	vertical-align:middle;
}
#delButtonA img, #moveButton img, #refreshButton img {
	margin-left:5px;
	vertical-align:middle;
}
.topMenuButtonFont {
	float:left;
	margin-top:5px;
}
#moveButton {
	width:90px;
	height:100%;
	float:left;
	margin-left:15px;
	text-align:center;
}
#refreshButton {
	width:60px;
	height:100%;
	float:left;
	margin-left:15px;
	text-align:center;
}
#confButton {
	width:62px;
	height:100%;
	float:left;
	margin-left:15px;
	text-align:center;
}
#confMail, #addEmail {
	width:350px;
	border:1px solid #D7D7D7;
	padding:12px;
	position:absolute;
	background-color:#F2F2F2;
}
#confMail table, #addEmail table {
	border:none;
	font-size:12px;
}
#confMail table td, #addEmail table td {
	height:30px;
}
.inputA {
	width:250px;
}
.confOption {
	width:100px;
}
.inputB {
	height:24px;
	font-size:12px;
}
#addButton {
	width:74px;
	height:100%;
	float:left;
	margin-left:15px;
	text-align:center;
}
#sendButton, #saveButton, #groupSendButton {
	width:62px;
	height:100%;
	float:left;
	margin-left:15px;
	text-align:center;
}
#sendBox {
	padding:6px 12px;
}
#sendBox table td {
	padding:4px 0;
}